.App {
    padding: 30px;
    height: 80vh;
}

button {
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button a {
    height: inherit;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

button a:hover {
    color: white;
    text-decoration: none;
}

