.Chat {
    padding: 20px;
    width: 100%;
}

.Chat button {
    width: 30%;
}

.Chat .Title {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Chat .Messages {
    height: 300px;
    margin: 30px;
    padding: 10px;
    
    background-color: #a050c61a;
    border: 3px solid transparent;

    overflow-y: auto;
    scroll-behavior: smooth;
    word-wrap: break-word;
}

.Chat .Footer {
    width: 90%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Chat .Footer input {
    margin-right: 10px;
    width: 60%;
}