.Register {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.Register .Form {
    padding: 30px;
    width: 90%;
    height: 50%;
}

.Register .Footer {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Register button {
    width: 50%;
    height: 40px;   
  }
